/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v13/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-6_RUAw.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
.container {
  width: 60%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    width: 100%;
  }
}
header {
  background-color: lightgrey;
  padding-bottom: 8%;
  margin-bottom: 3%;
}
header nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 2% 0;
  background-color: white;
}
@media (max-width: 500px) {
  header nav {
    background-color: lightgray;
  }
}
header nav a {
  padding-left: 3%;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: 'EB Garamond', serif;
}
@media (max-width: 500px) {
  header nav a {
    background-color: lightpink;
    color: darkred;
    font-weight: bold;
    padding: 2%;
    text-align: center;
    margin: 0 auto;
  }
}
header .topsection .picturesection img {
  min-width: 210px ;
  min-height: 250px ;
  max-width: 500px;
  max-height: 500px ;
  width: 20vw;
  height: 20vw;
  padding-left: 2%;
  margin-top: 4%;
}
header .topsection h1 {
  font-size: 2.5rem;
  padding-left: 2%;
  font-family: 'EB Garamond', serif;
  margin-bottom: 1.2%;
}
@media (max-width: 500px) {
  header .topsection h1 {
    color: darkred;
    background-color: lightgray;
  }
}
header .topsection p {
  padding-left: 1.4%;
  font-family: 'EB Garamond', serif;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 3.5%;
}
@media (max-width: 500px) {
  header .topsection p {
    color: darkred;
    background-color: lightgray;
  }
}
header .buttonsection p {
  margin-top: 5%;
  padding-left: 2%;
  font-family: 'EB Garamond', serif;
  font-weight: bold;
}
@media (max-width: 500px) {
  header .buttonsection p {
    background-color: lightgray;
    color: darkred;
  }
}
header .buttonsection button {
  margin-left: 2%;
  margin-top: 2%;
  background-color: gray;
  color: white;
  padding: 0.9%;
}
@media (max-width: 500px) {
  header {
    background-color: lightpink;
  }
}
.middlesection {
  display: flex;
  flex-direction: row;
  margin-bottom: 3%;
}
.middlesection div:nth-child(1) {
  width: 50%;
  margin-right: 4%;
}
.middlesection h2 {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: 'EB Garamond', serif;
  margin-bottom: 5%;
}
@media (max-width: 500px) {
  .middlesection h2 {
    font-size: 2.5rem;
  }
}
.middlesection p {
  font-family: 'EB Garamond', serif;
  font-weight: bold;
}
.middlesection h3 {
  font-size: 1.3rem;
  font-family: 'EB Garamond', serif;
  font-weight: bold;
  color: black;
}
@media (max-width: 500px) {
  .middlesection h3 {
    background-color: lightgray;
    color: darkred;
  }
}
.middlesection li {
  border: red 2px solid;
  border: 0.5px solid gainsboro;
  font-weight: bold;
  font-family: 'EB Garamond', serif;
  padding: 3.2%;
}
@media (max-width: 500px) {
  .middlesection li {
    background-color: lightpink;
    color: darkred;
    font-weight: bold;
  }
}
@media (max-width: 500px) {
  .middlesection .leftsection {
    background-color: lightpink;
    color: darkred;
    border: red 2px solid;
  }
}
.middlesection .rightsection {
  width: 50%;
}
@media (max-width: 500px) {
  .middlesection .rightsection {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .middlesection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
.tablesection {
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .tablesection h3 {
    color: darkred;
  }
}
.tablesection table {
  width: 100%;
}
.tablesection table thead {
  border-top: solid 1px gainsboro;
  border-bottom: solid 1px gainsboro;
  padding: 1.2px 0;
}
.tablesection table thead th {
  padding: 2% 0;
  text-align: center;
  font-weight: bold;
}
.tablesection table thead tr {
  border-bottom: solid 1px gainsboro;
}
.tablesection table tbody tr:nth-child(1) {
  background-color: gainsboro;
}
.tablesection table tbody tr:nth-child(3) {
  background-color: gainsboro;
}
.tablesection table tbody td {
  text-align: center;
  padding: 2% 0;
}
@media (max-width: 500px) {
  .tablesection table tbody td {
    color: darkred;
  }
}
@media (max-width: 500px) {
  .tablesection table {
    background-color: lightpink;
  }
}
.tablesection h3 {
  font-weight: bold;
  font-size: 1.3rem;
}
footer {
  background-color: grey;
  width: 100%;
  padding: 2.2%;
  margin: 0 auto;
  margin-top: 3%;
}
@media (max-width: 500px) {
  footer {
    background-color: lightgray;
  }
}
footer h5 {
  text-align: center;
  color: black;
  font-weight: bold;
  font-family: 'EB Garamond', serif;
  letter-spacing: 1px;
  margin: 2% 0;
  font-style: italic;
}
@media (max-width: 500px) {
  footer h5 {
    color: darkred;
  }
}
